<!DOCTYPE html>
<html lang="cs" class="bg-white antialiased">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Shopify Buy button example</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

  <div class="container px-8 mx-auto max-w-lg">
    <h1 class="text-xxl my-8">Awesome coffee shop</h1>

    {% for product in shop['products']['edges'] %}
      <div class="my-8 w-full lg:flex">
        <div class="h-48 lg:h-auto lg:w-2/5 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('{{product['node']['images']['edges'][0]['node']['originalSrc']}}')" title="">
        </div>
        <div class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
          <div class="mb-8">
            <div class="text-black font-bold text-xl mb-2">{{product['node']['title']}}</div>
            <div class="text-grey-darker text-base">
                {{product['node']['descriptionHtml']}}
            </div>
            <div id='product-component-{{product['node']['id']}}'></div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

<script type="text/javascript">

(function () {
  var options = {
  "product": {
    "variantId": "all",
    "width": "240px",
    "contents": {
      "img": false,
      "imgWithCarousel": false,
      "title": false,
      "variantTitle": false,
      "price": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "text-align": "left",
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        }
      }
    }
  },
  "cart": {
    "contents": {
      "button": true
    },
    "styles": {
      "footer": {
        "background-color": "#ffffff"
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      }
    }
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
};

  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: '{{SHOPIFY_SHOP_DOMAIN}}.myshopify.com',
      storefrontAccessToken: '{{SHOPIFY_STOREFRONT_TOKEN}}',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      {% for product in shop['products']['edges'] %}
      ui.createComponent('product', {
        id: [{{product['node']['id']}}],
        node: document.getElementById('product-component-{{product['node']['id']}}'),
        moneyFormat: '%7B%7Bamount_with_comma_separator%7D%7D%20K%C4%8D',
        options: options
      });
      {% endfor %}
    });
  }
})();
</script>
</body>
</html>